.choiceContainer{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235,0.25);
    background-color: white;   
}

.choiceContainer1{
  animation-name: bounceInDown;    
  animation-duration: 1.5s;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-timing-function: ease;

}

.choiceContainer2{
  animation-name: bounceInDown;    
  animation-duration: 2.0s;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-timing-function: ease;

}

.choiceContainer3{
  animation-name: bounceInDown;    
  animation-duration: 2.5s;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-timing-function: ease;

}

.choiceContainer4{
  animation-name: bounceInDown;    
  animation-duration: 3.0s;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.choiceContainer:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    /* it allows the transform to move smoothly */
    transition: transform 150ms;
  }
  

.choicePrefix{
    padding: 1.5rem 2.5rem;
    background-color: teal;
    color: white;
}

.choiceText{
    padding: 1.5rem;
    width: 100%;
}

.correct{
    background-color:#28a745;
}

.incorrect{
    background-color:#dc3545;
}

#hud{
    display: flex;
    /* space-between takes all the space availble to split things up */
    justify-content: space-between;    
}

.hud-prefix{
    text-align: center;
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif; 
}

.hud-main-text{
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}

#CountDown {
    margin-top: 2.5rem;
    width: 100%;
    /* display: flex; */
    border: 0.2rem solid rgb(86, 165, 235,0.25);
    justify-content: right;
    background-color: ivory;
}

#CountDown:hover {    
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.01rem);
  /* it allows the transform0 to move smoothly */
  transition: transform 150ms;
}
  
  
#Bar {
  width: 10%;
  height: 30px;    
  line-height: 30px; 
  background-color:teal;
}

#seconds{
  text-align: center;
  /* color: white; */
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem; 
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
  
    100% {
      transform: none;
    }
}
  