:root{
    background-color: white;
    /* default font size in most browsers are 16px, 62.5% of 16 is 10px */
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #FFCC00;
}

h1,
h2
 {
    margin-bottom: 1rem;
}

h1{
    font-size :5.4rem;
    color: cornflowerblue;
    margin-bottom: 5rem;
    animation: bounceIn 2s;
    animation-iteration-count: initial;
    
}

/* .h1AnimateScore{
  animation: bounceIn 2s;
  animation-iteration-count: initial;
} */

h2 {
    font-size :4rem;
    margin-bottom: 5rem;
    font-weight: 700;
}

.image-top{
  width: 20rem;
  justify-content: center;
  align-items: center;
  animation: bounceIn 2s;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .container > * {
    width: 100%;
  }

  /* flex collun is horizontal by default, flex direction changes it if we want */
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  

  /* BUTTONS */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;

    animation-name: bounceInDown;    
    animation-duration: 3.0s;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-timing-function: ease;
    
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    /* it allows the transform to move smoothly */
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  /* Animations KeyFrames */

  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  
  
  @keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
              transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
              transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
              transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
    }
  
  
    100% {
      -webkit-transform: none;
              transform: none;
    }
  }